* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: #2f4454;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.byline {
    font-style: italic;
    font-weight: 200;
    opacity: 0.5;
    margin-top: 10px;
}

.control-button, .selected, .unselected {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #da7b93;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.control-button:hover, .selected:hover, .unselected:hover {
    background-color: #ee4570;
    color: white;
    transform: translateY(-3px);
}

.selected {
    background-color: white;
    color: #22303b;
}

.unselected {
    background-color: #da7b93;
}

.control-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 15px;
}

.section {
    background-color: #22303b;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    min-height: 80px;
    margin: 10px;
}

.control-inputs {
    background-color: #22303b;
    padding: 10px;
    min-height: 80px;
    margin: 10px;
    border-radius: 10px;

}

.slider-inputs {
    display: flex;
    /*background-color: #376e6f;*/
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

input {
    margin: 10px 0px 10px 10px;
}

.array-size-slider {
    margin-right: 30px;
}

input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 10rem;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #2f4454;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    border-radius: 5px;
    /*custom styles*/
    background-color: #da7b93;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid white;
   outline-offset: 0.05rem; 
 }

 .run-button {
    margin: 10px;
    border-radius: 10px;
    background-color: #f3a86f;
    padding: 10px 20px 10px 20px;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
 }

 .run-button:hover {
    background-color: #fa8e3b;
    color: white;
    transform: translateY(-3px);
 }
 

 .array-panel {
    background-color: #22303b;
    border-radius: 10px;
    height: 550px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bars {
    display: flex;
    height: 500px;
    margin: 20px;
    margin-bottom: -32px;
}

.bar {
    background-color: tan;
    width: 5px;
    margin: 1px;
    align-self: flex-end;
}

/* 
starting color: tan
completed color: #73be8c (green)
comparing color: #7587d6 (blue)
moving color: #da7b93 (pink)
*/